

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Lato', sans-serif; */


:root {
  /* back */
  --background_color: rgb(22, 24, 29);
  --them_box:black;
  --them_box_text:white;

  --nav_text:white;

  --them_color:rgb(250, 78, 106);

}


body{
  margin: 0;
  padding: 0;
  background-color: var(--background_color);
  font-family:Arial, Helvetica;

}



/* nav */
.nav{
  position: relative;
  display: flex;
  justify-content: space-around;
}

.in_nav{
    padding: 10px 0px;
    width: 92%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.logo{
    position: relative;
    display: flex;

    justify-content: space-between;
    align-items: center;
    font-size: 35px;
    font-weight: bold;
    color: var(--nav_text);
  z-index: 2;
}


.options{
  position: absolute;
  right: 0%;
  top: 0%;
  margin: 7.5px 15.4px;

  height: 45px;
  width: 48px;
  border-radius: 100%;
  background-color: var(--them_color);

  padding-top:3px ;
  padding-bottom:-3px ;
  color: rgba(0, 0, 0, 0.676);
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  align-items: center;
  display: flex;
  line-height: 0;
  justify-content: center;
  transition: 1s ease-in-out;

  z-index: 1;
}


.options.active{
  transform: scale(50);

}

.option_list a{
  display: block;
  text-decoration: underline;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  color: white;

}


.option_list,.option_close{
  display: none;
}

.option_list.active{
  display: block;
  position: absolute;
  padding: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  border-top: 3PX solid rgba(255, 255, 255, 0.686);
  border-bottom: 3PX solid rgba(255, 255, 255, 0.686);
  padding: 30px;

  z-index: 1;
  width: 60%;
  text-align: center;

}

.option_close.active{
  background-color: var(--background_color);
  position: absolute;
right: 0%;
  top: 0%;
  margin: 10px 18px;
  font-size: 16px;
  height: 3px;
  width: 3px;

  color: white;

  padding: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;

  border-radius: 100px;
  z-index: 2;
}

.option_leter{
  background-color: var(--background_color);
  position: absolute;
  right: 0%;
  top: 0%;
  margin: 10px 18px;
  font-size: 20px;
  height: 3px;
  width: 3px;

  color: white;

  padding: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;

  border-radius: 100px;
  z-index: 2;
}


/* nav end */

/* body */
.mid_cuntaner{
 max-height: calc(100vh - 19.5vh);
 overflow: auto;
} 


.item_list{
  position: relative;
  max-width: 95%;
  margin: auto;
  background-color: rgb(255, 255, 255);

  border-radius: 15px;
  
}

.item_box:last-child{
  border-bottom: 0;

}

.item_box{
  position: relative;
  max-width: 93%;
  min-height: 10px;
  padding:15px 0;
  margin: auto;

  display: flex;
  justify-content: space-between;
  border-bottom: 1px;

  border-bottom: 1px solid  rgb(175, 175, 175);
}

.information{
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 1px;
  border-radius: 100%;

  background-color: rgb(51, 55, 67);

  font-size: 16px;

  color: white;

  padding: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  
}

.item_img{

  background-color: black;
  width: 60px;
  height: 60px;
}

.item_text{
  position: relative;
  width: calc(100% - 75px);
  align-items: center;
  justify-content: center;

}

.item_text pre{
  margin: 0;
  font-size: 14px;
}




/* promocode */
.promocode{
  position: relative;
  width:95% ;
  margin:10px auto;
  font-weight: bold;
  background-color: rgb(255, 255, 255);

  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}

.promotext,.promotext2{
padding:10px 15px;
}

/* bill */
.bill{
  position: relative;
  width:95% ;
  margin:10px auto;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}

#total_price{display: inline-block;}

.bill_text,.bill_text1{
  padding:10px 15px;
  
}


/* summary */
.bill_summary.active{
  display: block;
}



.bill_summary{
  display: none;
}

.overly{
  background-color: black;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 1;
  opacity: 0.5;
}

.bill_summary.active .overly{
  animation: slowshow 1s;
}

@keyframes slowshow {
  from{opacity: 0;}
  to{opacity: 0.5;} 
}

.bill_summary_box_close{
  background-color: var(--background_color);
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);

  font-size: 16px;
  bottom: 67vh;
  height: 3px;
  width: 3px;

  color: white;

  padding: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;

  border-radius: 100px;
  z-index: 2;
}

.bill_summary.active .bill_summary_box_close{
  animation: slowscloser 0.5s;
}

@keyframes slowscloser {
  from{opacity: 0;transform: translate(-50%,-50%);}
  to{opacity: 1;transform: translate(-50%,0);} 
}

.bill_summary_box{
  background-color: var(--background_color);
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 65vh;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  z-index: 2;

}

.bill_summary.active .bill_summary_box {
  animation: slowslider 0.5s;
}

@keyframes slowslider {
  from{transform: translate(0,100%);}
  to{transform: translate(0,0);} 
}




.text_1_in_bill_summary{
  width: 90%;
  margin: auto;
  color: white;
}

.bill_summary_iner_box{
  background-color: white;
  width: 90%;
  margin: auto;
  border-radius: 10px;
  padding: 10px;



}



#customers {
  text-align: left;
  border-collapse: collapse;
  width: 100%;
}

#customers th{
  color: black;

}

td{
  font-size: 15px;
  font-family: monospace;

}

#customers tr:nth-child(odd){
  color: gray;
  border-bottom:1px solid gray;
}





/* policys */
.policys h3{margin: 0;}
.policys{
  font-size: 14px;
  color: rgba(192, 192, 196, 0.778);
  width: 90%;
  margin: auto;
  padding-bottom:10px ;
}



/* pay */
.book_button_bar{
  bottom: 0px;
  padding: 10px 0;

  font-size: 16px;
  font-weight: bold;
  color: white;
  position: fixed;
  height: 7vh;
  max-height: 50px;
  width: 100%;
  max-width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
background-color: var(--background_color);
transition: 0.3s ease-in-out;
}

.book_button{
  height: 100%;
  width: 95%;
  border-radius: 100px;
  
  font-size: 16px;
  font-weight: bold;
  background-color: var(--them_color);

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
transition: 0.3s ease-in-out;

}

.book_button_bar.active{
  height: 100vh;
  max-height: 100vh;
  z-index: 1;
  padding:0;

}

.book_button_bar.active{
  background-color: var(--them_color);
}
.book_button_bar.active .book_button{
  max-height: 100%;
  z-index: 1;
  padding:0;
  border-radius: 0;
  width: 100%;

}


/* payment */
.payment.active{
  display: block;
  opacity: 1;  
  animation: opacity 1.5s ;
  
}

@keyframes  opacity {
  0%{opacity: 0;}
  75%{opacity: 0;}
  to{opacity: 1;}  
}

.payment{
  transition: opacity 1s ease-in-out;
  opacity: 0;  
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  display: none;

}

.nfc,.Check_Out_At_Cashier{
  position: relative;
  height: 200px;
  width: 300px;
  background-color: var(--background_color);
  border-radius: 25px;
  margin: 10px;
}

/* nfc */

.cube{
  position: absolute;
  /* height: 60px; */
  width: 100px;
  font-weight: bolder;
  color: rgb(255, 255, 0);
  font-size: 20px;

  top: 0;
  left: 0;
  margin: 25px;

  /* background-color: rgb(255, 255, 255); */
  border-radius: 10px;
}

.cir1{
  position: absolute;
  height: 60px;
  width: 60px;

  top: 0;
  right: 0;
  margin: 20px;

  background-color: orange;
  border-radius: 100%;
  animation: lefttoright_cir1 2.5s infinite ease-in-out;
}

@keyframes  lefttoright_cir1 {
  0%{margin: 20px;}  
  50%{margin: 20px 60px;}
  100%{margin: 20px;}  
}

.book_button_bar.active{
padding-bottom: 230px;
}


.cir2{
  position: absolute;
  height: 60px;
  width: 60px;

  top: 0;
  right: 0;
  margin: 20px 60px;

  background-color: yellow;
  border-radius: 100%;
  animation: lefttoright_cir2 2.5s infinite ease-in-out;
}

@keyframes  lefttoright_cir2 {
  0%{margin: 20px 60px;}  
  50%{margin: 20px;}
  100%{margin: 20px 60px;}  
}



.nfc_boder_cu{
  position: absolute;

  width: 250px;
  height: 10px;
  overflow: hidden;

  top: 75%;
  left: 50%;
  transform: translate(-50%,-50%);

}

.nfc_boder{
  
  width: 2050px;
  border-bottom: 5px dashed gray;
  animation: lefttoright 30s infinite ;
}

@keyframes  lefttoright {
  from{transform: translate(-60%,0);}
  to{transform: translate(0,0%);}  
}

.text-1_nfc{
  position: absolute;

  width: 100px;
  height: 10px;
  background-color: rgba(128, 128, 128, 0.544);

  top: 80%;
  left: 24.8%;
  border-radius: 10px;
  transform: translate(-50%,-50%);
}

.text-2_nfc{
  position: absolute;

  width: 50px;
  height: 10px;
  background-color: rgba(128, 128, 128, 0.544);

  top: 86%;
  left: 16.4%;
  border-radius: 10px;
  transform: translate(-50%,-50%);
}


/* Check_Out_At_Cashier */
.Check_Out_At_Cashier .cube{
  width: 150px;
  color: rgb(2, 194, 2);
}

#qrcode_cu{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;

  top: 0;
  right: 0;
  margin: 20px;

  background-color: white;
  border-radius: 10px;
}

.qrline{
    position: absolute;
  height: 5px;
  width: 80px;

  top: 0;
  right: 0;
  margin: 23px 15px;

  background-color: rgb(0, 195, 255);
  box-shadow:0 0 20px 5px rgb(0, 195, 255);
  border-radius: 10px;

  animation: up_and_down 2.5s infinite ease-in-out;
}

@keyframes  up_and_down {
  0%{margin: 23px 15px;}  
  50%{margin: 85px 15px;}
  100%{margin: 23px 15px;}  
}

.nfc.active,.Check_Out_At_Cashier.active{
  transform: scale(100);
  z-index: 1;
  transition: 1s ease-in-out ;
}

.nav,.option_leter,.options{
  z-index: 100;


}
