

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Lato', sans-serif; */


:root {
  /* back */
  --background_color: rgb(22, 24, 29);
  --them_box:black;
  --them_box_text:white;

  --nav_text:white;

  --them_color:rgb(250, 78, 106);

}


body{
  margin: 0;
  padding: 0;
  background-color: var(--background_color);
  font-family:Arial, Helvetica;

}


/* nav */
.nav{
  position: relative;
  display: flex;
  justify-content: space-around;
}

.in_nav{
    padding: 10px 0px;
    width: 92%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.logo{
    position: relative;
    display: flex;

    justify-content: space-between;
    align-items: center;
    font-size: 35px;
    font-weight: bold;
    color: var(--nav_text);

}


.options{
    position: relative;
    height: 45px;
    width: 45px;
    border-radius: 100%;
    background-color: var(--them_color);
}

#shu{
  position: relative;
  width: 40%;
  border-radius: 5px;
  height: 50px;
  padding:0 10px;
}

.drecter_line{
  position: relative;
  display: flex;
  padding: 15px 0;
  width: 50%;
  margin: auto;

  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}
/* nav end */

/* body */
.mid_cuntaner{
 max-height: calc(100vh - 19.5vh);
 overflow: auto;
} 


.item_list{
  position: relative;
  max-width: 95%;
  margin: auto;
  background-color: rgb(255, 255, 255);

  border-radius: 15px;
  
}

.item_box:last-child{
  border-bottom: 0;

}

.item_box{
  position: relative;
  max-width: 93%;
  min-height: 10px;
  padding:15px 0;
  margin: auto;

  display: flex;
  justify-content: space-between;
  border-bottom: 1px;

  border-bottom: 1px solid  rgb(175, 175, 175);
}

.information{
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 1px;
  border-radius: 100%;

  background-color: rgb(51, 55, 67);

  font-size: 16px;

  color: white;

  padding: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  
}

.item_img{

  background-color: black;
  width: 60px;
  height: 60px;
}

.item_text{
  position: relative;
  width: calc(100% - 75px);
  align-items: center;
  justify-content: center;

}

.item_text pre{
  margin: 0;
  font-size: 14px;
}




/* promocode */
.promocode{
  position: relative;
  width:95% ;
  margin:10px auto;
  font-weight: bold;
  background-color: rgb(255, 255, 255);

  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}

.promotext,.promotext2{
padding:10px 15px;
}

/* bill */
.bill{
  position: relative;
  width:95% ;
  margin:10px auto;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}

#total_price{display: inline-block;}

.bill_text,.bill_text1{
  padding:10px 15px;
  
}


/* summary */
.bill_summary.active{
  display: block;
}



.bill_summary{
  display: none;
}

.overly{
  background-color: black;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 1;
  opacity: 0.5;
}

.bill_summary.active .overly{
  animation: slowshow 1s;
}

@keyframes slowshow {
  from{opacity: 0;}
  to{opacity: 0.5;} 
}

.bill_summary_box_close{
  background-color: var(--background_color);
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);

  font-size: 16px;
  bottom: 67vh;
  height: 3px;
  width: 3px;

  color: white;

  padding: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;

  border-radius: 100px;
  z-index: 2;
}

.bill_summary.active .bill_summary_box_close{
  animation: slowscloser 0.5s;
}

@keyframes slowscloser {
  from{opacity: 0;transform: translate(-50%,-50%);}
  to{opacity: 1;transform: translate(-50%,0);} 
}

.bill_summary_box{
  background-color: var(--background_color);
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 65vh;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  z-index: 2;

}

.bill_summary.active .bill_summary_box {
  animation: slowslider 0.5s;
}

@keyframes slowslider {
  from{transform: translate(0,100%);}
  to{transform: translate(0,0);} 
}




.text_1_in_bill_summary{
  width: 90%;
  margin: auto;
  color: white;
}

.bill_summary_iner_box{
  background-color: white;
  width: 90%;
  margin: auto;
  border-radius: 10px;
  padding: 10px;



}



#customers {
  text-align: left;
  border-collapse: collapse;
  width: 100%;
}

#customers th{
  color: black;

}

td{
  font-size: 15px;
  font-family: monospace;

}

#customers tr:nth-child(odd){
  color: gray;
  border-bottom:1px solid gray;
}





/* policys */
.policys h3{margin: 0;}
.policys{
  font-size: 14px;
  color: rgba(192, 192, 196, 0.778);
  width: 90%;
  margin: auto;
  padding-bottom:10px ;
}



/* pay */
.book_button_bar{
  bottom: 0px;
  padding: 10px 0;

  font-size: 16px;
  font-weight: bold;
  color: white;
  position: fixed;
  height: 7vh;
  max-height: 50px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
background-color: var(--background_color);
transition: 0.3s ease-in-out;
}

.book_button{
  height: 100%;
  width: 95%;
  border-radius: 100px;
  
  font-size: 16px;
  font-weight: bold;
  background-color: var(--them_color);

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
transition: 0.3s ease-in-out;

}

.book_button_bar.active{
  height: 100vh;
  max-height: 100vh;
  z-index: 1;
  padding:0;

}


.book_button_bar.active .book_button{
  max-height: 100%;
  z-index: 1;
  padding:0;
  border-radius: 0;
  width: 100%;

}
